soap-for-lunch/src/edu/neumont/csc380/models/restaurant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="restaurants">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="restaurant"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="restaurant">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="menuItem"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="menuItem" type="xs:string"/>
</xs:schema>
